body {
  padding-top: 70px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.query-template {
    cursor: pointer;
}
.m_title {
    text-transform: capitalize;
}
.has_detail {
    cursor: pointer;
}

.table tbody tr:hover td, .table tbody tr:hover th {
    background-color: #eeeeea;
}